{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Article List</h1>
    {% for article in articles %}
    <div>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <p>Author: {{ article.author.username }}</p>
        <p>Likes: {{ article.likes }}</p>
        <p>Dislikes: {{ article.dislikes }}</p>
        <form action="{% url 'like_article' article_id=article.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="like">Like</button>
            <button type="submit" name="action" value="dislike">Dislike</button>
        </form>

    </div>
    <hr>
    {% endfor %}
</body>
</html>

