body {
    font-family: Arial, sans-serif;
    background-color: orange;
    border-style: double;
    border-color: 0000;
    color: black;
}

.content-container {
    margin: 50px auto;
    padding: 20px;
    background-color: blue;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    font-size: 36px;
    text-align: center;
}
